<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GatewayIP" value="127.0.0.1"/>
    <add key="GatewayPort" value="50001"/>
    <!--<add key="ListenerPort" value="50002"/>-->
    <add key="EnableErrorLog" value="true"/>
    <add key="PingIntervalInSeconds" value="300"/>
    <add key="KickIntervalInSeconds" value="500"/>
    <add key="KickWaitInSeconds" value="300"/>
    <add key="RestartWaitInSeconds" value="5"/>
    <add key="SyncIntervalInSeconds" value="5"/>
    <add key="DatabaseProvider" value="MSSQL"/>
    <add key="TimeOffset" value="5"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnectionString" providerName="System.Data.SqlClient" connectionString="Server=ENG13\SQLEXPRESS;Database=RMS;Uid=sa;Pwd=sa;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
